/*RESOURCES*/

@font-face {
  font-family: 'Catherine';
  src: url('../Catherine.eot'); /* IE9 Compat Modes */
  src: url('../Catherine.woff') format('woff'),
       url('../Catherine.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*PAGE*/

.navbar{
	font-family: 'Playfair Display SC', serif;;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: light;
}

h1, h2{
font-family: 'Playfair Display SC', serif;;	
}


.row{
	padding: 50px;
}

.headcircle{
border-radius: 1000px;
margin: 10px auto;
display: block;
}

.dropdown-menu {
    background-color: rgba(171, 171, 171, 0.9);
    margin: 1.1rem 0 0;
    border-radius: 0px;
    border: 0px;
}

#ring_home
{
  width: 30px;
}

body{
	background: #cecece;
	color: rgb(58, 102, 117);
}

.body-container{
	width: 100%;
}

h1{
	font-family: 'Catherine';
	}

/*MODIFIERS*/



.row:nth-child(1){
	padding: 55px 0px 0px 0px;
}
.center{
	margin: auto;
	text-align: center;
}


/*CONTENT*/
.header-text{
	font-size: 5em;
	text-align: center;
	font-family: 'Catherine';
	color: #ddd;
}

.instafeed-post img{
	display: block;
	height: 100%
}

.instafeed-post{
	height:20vmax;
	overflow:hidden;
	font-size: 0px;
	display: inline-block;
	margin: 2vmax;
}

#instafeed{
	text-align: center;
}

.header-image{
	background: 
		linear-gradient(
		      rgba(0, 0, 0, .45), 
		      rgba(0, 0, 0, .80)
		      ),
		url(header.jpg);
    background-repeat:no-repeat;
    background-position: 30% 75%;
    background-size:cover;
}

.title-text{
	padding: 10vmin 20vmin;
	color: #eee;
}

.row:nth-child(odd){
	background-color: rgba(58, 102, 117, 1);
	color: #fff;
}


@media (min-width: 992px){
	li.nav-item{
		padding: 0px 20px;
	}
}

@media (max-width: 992px){
	.dropdown-item{
	padding: 15px 1.5rem;
}

li.nav-item {
    padding: 20px 10px;
}

}	